<div class="dash">
	<div class="text-right">
		<a href="#/add" class="btn btn-primary">Adicionar</a>
	</div>
	<alert ng-show="dash.msg" type="{{dash.type}}" close="dash.closeAlert($index)">{{dash.msg}}</alert>
	<table class="table table-striped table-hover">
	    <thead>
	        <tr>
	            <th>Local</th>
	            <th class="text-center">Período</th>
	            <th class="text-center">Quantidade</th>
	            <th class="text-center">Ações</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "demand in dash.demands">
	            <td>{{demand.local}}</td>
	            <td class="text-center">{{demand.mes}}/{{demand.ano}}</td>
	            <td class="text-center">{{demand.qtd}}</td>
	            <td class="text-center">
	            	<a href=""><i class="glyphicon glyphicon-edit"></i></a>
	            	<a ng-click="dash.deleteDemand(demand.id)" href=""><i class="glyphicon glyphicon-trash"></i></a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>